*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	scroll-behavior: smooth;
}

.toggle
{
	position: fixed;
	top: 30px;
	right: 30px;
	width: 30px;
	height: 30px;
	background: #000 url(menu.png);
	background-size: 20px;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	z-index: 1000;

}
.toggle.active
{
	background: #000 url(close.png);
	background-size: 20px;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;

}
section
{
	padding: 100px;
	min-height: 100vh;
}
.banner
{
	position: relative;
	width: 100%;
	min-height: 100vh;
}
.banner .imgSidder
{
	position: absolute;
	top: 0;
	left: 0;
	width: 500px;
	height: 100% ;
}
.banner .imgSidder img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;

}
.banner .contentBx,
.sidbar
{
	position: absolute;
	top: 0;
	right: 0;
	width: calc(100% - 500px);
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 100px;

}
.logoText
{
	position: absolute;
	top: 40px;
	left: 100px;
	font-size: 1.2em;
	text-transform: uppercase;
	letter-spacing: 1px;
	background-color: #333;
	color: #fff; 
	padding: 0.5px;

}

.banner .contentBx h4
{
	font-size: 1.5em;
    color: rgb(122, 115, 115);
	font-weight: 300;
	margin-top: 4px;
}


.banner .contentBx h4 span
{
	color: #00bcd4;
	font-size: 1.5em;
	font-weight: 700;
}
.banner .contentBx h2
{
	font-size: 3em;
	color: #333;
	line-height: 1em;

}
p
{
	font-size: 1.1em;
	margin: 25px 0;
	font-weight: 300;
	letter-spacing: 0.8px;
	line-height: 25px;
    color: rgb(122, 115, 115);
}
.btn
{
	background: #00bcd4;
	color: #fff;
	padding: 10px 30px;
	display: inline-block;
	text-decoration: none;
	font-weight: 500;
	letter-spacing: 2px;
}

.sidbar{
	position: fixed;
	background: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
	padding: 40px;
	z-index: 100;
	right: -100%;

}
.sidbar.active
{
	right: 0%;
}

.sidbar ul
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}

.sidbar ul li
{
	list-style: none;

}
.sidbar ul li a
{
	color: #fff;
	text-decoration: none;
	font-size: 2em;
	margin: 10px 0;
	font-weight: 300;
	letter-spacing: 2px;
	text-transform: uppercase;

}

.sidbar ul li a:hover
{
	color: #00bcd4;

}

.sci
{
	position: absolute;
	left: 100px;
	bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;

}

.sci li
{
  margin-right: 10px;
  list-style: none;
}

.sci li img
{
	transform: scale(0.5);
	opacity: 0.7;
    width: 30px;
	height: 30px;

}
.sci li img:hover
{
	transform: scale(1);
	opacity: 1;

}
.title
{
	width: 100%;
	text-align: center;
}
.title h2
{
	position: relative;
	color: #00bcd4;
	font-size: 1.8em;
	font-weight: 700;
	letter-spacing: 1px;
}
.title p
{
	max-width: 700px;
	display: inline-block;
}
.title h2::before
{
	content: '';
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -10px;
	width: 60px;
	height: 4px;
	background-color: #000;

}
.title.white h2,
.title.white p
{
   color: #fff;
}
.title.white h2::before
{
	background: #fff;
}

.about
{
	background-color: black;
}
.about .content
{
   display: flex;
   justify-content: space-between;
   margin-top: 40px;
}
.about .content .textBx
{
   min-width: 49%;
   width: 49%;

}
.about .content .textBx p
{
  color: #fff;  
}
.about .content .imgBx
{
	margin-left: 40px;

}
.about .content .imgBx img
{
	max-width: 100%;
}
.services .content
{
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}

.services .content .serviceBx
{
	padding: 40px 20px;
	max-width: 340px;
	margin: 20px;
	transition: 0.5s;
	text-align: center;
	background: #f5f5f5;

}
.services .content .serviceBx:hover
{
	background: #000;
}

.services .content .serviceBx img
{
    max-width: 50%;
	transition: 0.5s;
}
.services .content .serviceBx:hover img
{
       filter: invert(1);
}
.services .content .serviceBx h2
{
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: 600;
	transition: 0.5s;
	
}
.services .content .serviceBx:hover h2
{
	color: #fff;
}
.services .content .serviceBx p
{
   margin:0;
   transition: 0.5s;

}
.services .content .serviceBx:hover p
{
	color: #fff;
}













